@import './style.scss';

.entity-page-section-title-band{
    @extend .title-band-green;
}

.entity-page-section-separater{
    padding-left: 0px !important;
    padding-right: 0px !important;
    padding-top: 20px !important;
    padding-bottom: 20px !important;

    hr{
        margin-top: 0px !important;
        margin-bottom: 0px !important;
        border-color : #ccc;
        height: 1px;
    }
    
}

.entity-page-container{
    @extend .page-container;
    
    .entity-page-section{        
        padding-left: 0px !important;
        padding-right: 10px !important;

        @media(min-width : 320px) and (max-width : 991px){            
            padding-right: 0px !important;
        } 
    }

}

.entity-page-footer-separator{
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    hr{
        height: 2px !important;
        border-color: #ccc !important;
        margin-top: 0px !important;
        margin-bottom: 0px !important;
    }
}