@import "./style.scss";

.filter-select-badge {
  color: white;
  font-size: 15px;
  font-weight: 600;
  background-color: #009999 !important;
  //   margin-right: 10px;

  .filter-select-dropdown-icon {
    // padding-left: 30px;
  }
}
.list-page-filter-row {
  display: table-row;
  border-spacing: 10px 0;
}

.filter-title {
  font-size: 14px;
  letter-spacing: 1px;
  color: #555;
  padding-left: 15px;
  padding-top: 9px;

  @media (min-width: 992px) {
    width: 11%;
    min-width: 100px;
  }
}

.list-item-10-filter-panel {
  max-height: 340px !important;
  overflow-y: scroll;
}

.filter-panel-list-section {
  @media (min-width: 320px) and (max-width: 991px) {
    display: none !important;
  }

  @media (min-width: 992px) {
    display: block !important;
  }
}

.filter-select-dropdown {
  color: #555;
  font-weight: 400;
  font-size: 15px;
  display: table-cell !important;
  padding-left: 0px !important;
  padding-right: 15px !important;
  width: 21% !important;
  // width: 25% !important;

  @media (min-width: 992px) {
    min-width: 230px;
  }

  div {
    .filter-select-button {
      background-color: white;
      border-color: #747474;
      border-radius: 0px !important;
      display: table-cell !important;
      width: 100%;

      .filter-select-label {
        //   padding-left: 15px !important;
        color: #555;
        font-weight: 400;
        font-size: 15px;
        margin-top: 0 !important;
        margin-left: 0 !important;
        margin-right: 0px;
        text-align: left !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
        min-width: 110px !important;
      }

      .filter-select-badge {
        color: white;
        font-size: 15px;
        font-weight: 600;
        background-color: #009999;
        //   margin-right: 10px;

        .filter-select-dropdown-icon {
          // padding-left: 30px;
        }
      }
    }

    .show {
      display: table-cell !important;
    }
  }
}

.filter-select-content-popover {
  min-width: 120px !important;

  div {
    div {
      label {
        display: table-cell !important;
        font-family: "Source Sans Pro", sans-serif !important;
        padding-top: 6px !important;
        padding-bottom: 6px !important;
      }
      label:hover {
        cursor: pointer;
      }
    }
  }

  .arrow {
    display: none !important;
  }
}

.filter-select-content-popover.popover.bottom {
  margin-top: 0;
  //width: 21.7% !important;
  @media (min-width: 768px) and (max-width: 991px) {
    width: 16% !important;
  }
  @media (min-width: 992px) and (max-width: 1060px) {
    width: 20.5% !important;
  }
  @media (min-width: 1061px) and (max-width: 1114px) {
    width: 20% !important;
  }
  @media (min-width: 1115px) and (max-width: 1199px) {
    width: 18.3% !important;
  }
  @media (min-width: 1200px) and (max-width: 1299) {
    width: 17% !important;
  }
  @media (min-width: 1300px) and (max-width: 1400) {
    width: 16.8% !important;
  }
  @media (min-width: 1400px) and (max-width: 1600px) {
    //width: 18.5% !important;
    width: 17.55% !important;
  }
  @media (min-width: 1601px) {
    width: 18% !important;
  }
  @media (min-width: 1920px) {
    width: 19% !important;
  }
}

.filter-select-filter-button {
  display: table-cell !important;
  button {
    background-color: #00cccc !important;
    // padding-left: 20px !important;
    // padding-right:20px !important;
    border-color: transparent !important;
    border-radius: 3px !important;
    color: white !important;
    padding: 7px 20px !important;
  }
}

.list-page-container {
  // height: 100%;
  // width : 100%;
  // position: relative;
  // padding : 30px 55px;
  // color: #555;
  // font-family: 'Source Sans Pro', sans-serif !important;

  @extend .page-container;

  .list-page-filter-section {
    height: 50px;
    display: table;
    width: 100%;
    background-color: #e9e9e9;
    padding-top: 6px;
    padding-bottom: 6px;

    .list-page-filter-filler {
    }
  }

  .list-page-grid-section {
    .list-page-grid-result {
      font-weight: 400;
      font-size: 15px;
      color: #555555;
      padding: 0px !important;
      padding-top: 15px !important;
      padding-bottom: 20px !important;
    }

    .list-page-grid-table {
      padding: 0px !important;

      .list-page-grid-table-header {
        padding-left: 0px !important;
        padding-right: 0px !important;
        .list-page-grid-table-header-cell {
          color: #333;
          padding-left: 0px;
          padding-right: 0px;
          padding-top: 5px !important;
          padding-bottom: 5px !important;
          cursor: pointer;
          font-family: "Source Sans Pro", sans-serif !important;
          font-weight: 700;
        }
      }

      .list-page-grid-table-row {
        border-bottom: 1px solid #ccc;
        padding-left: 0px;
        padding-right: 0px;
        margin-left: 0px !important;
        margin-right: 0px !important;
        font-size: 15px;
        font-weight: 400;

        .col-xs-12,
        .col-xs-11,
        .col-xs-10,
        .col-xs-9,
        .col-xs-8,
        .col-xs-7 .col-xs-6,
        .col-xs-5,
        .col-xs-4,
        .col-xs-3,
        .col-sm-9,
        .col-lg-10,
        .col-md-10 {
          padding-left: 0px !important;
          padding-right: 0px !important;
        }
        .list-page-grid-table-cell {
          padding-top: 25px;
          padding-bottom: 15px;
          padding-left: 0px !important;
          padding-right: 0px !important;

          .list-page-grid-table-cell-status-inprogress {
            background-color: #ffffcc;
            width: 100px;
            font-style: normal !important;
            border-radius: 4px;
            padding-top: 7px;
            padding-left: 10px;
            padding-right: 10px;
            border-radius: 6px;
            padding-bottom: 7px;
            margin-top: -8px;
            text-align: center;
          }

          .list-page-grid-table-cell-status-active {
            background-color: #ccffcc;
            width: 70px;
            font-style: normal !important;
            border-radius: 4px;
            padding-top: 7px;
            padding-left: 10px;
            padding-right: 10px;
            border-radius: 6px;
            padding-bottom: 7px;
            margin-top: -8px;
            text-align: center;
          }

          .list-page-grid-table-cell-status-inactive {
            background-color: #cccccc;
            width: 85px;
            font-style: normal !important;
            border-radius: 4px;
            padding-top: 7px;
            padding-left: 10px;
            padding-right: 10px;
            border-radius: 6px;
            padding-bottom: 7px;
            margin-top: -8px;
            text-align: center;
          }
        }

        .list-page-grid-table-cell-actions {
          float: right;
          padding-top: 25px;
          padding-bottom: 15px;
          padding-left: 0px !important;
          padding-right: 20px;
          font-size: 18px;
          cursor: pointer;
          color: #555 !important;
          min-width: 120px;

          .list-page-edit-section,
          .list-page-delete-section {
            display: inline-block;
            float: right;
            // margin-left: 20px;
            .list-page-edit-icon,
            .list-page-delete-icon {
              color: #555 !important;
            }
          }
          .list-page-delete-section {
            margin-left: 35px;
          }
        }
      }
    }
  }
}

.modal-content {
  box-shadow: none !important;
  //border: 1px solid #555 !important;
}
.system-level-listing-page-main-delete-modal {
  .modal-dialog {
    width: 100% !important;
  }
}

.netchex-modal {
  padding-top: 0px !important;
  padding-bottom: 25px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.modal-close-icon {
  padding-right: 13px !important;
  padding-top: 13px !important;
  cursor: pointer;
  font-size: 22px;
  float: right;

  i {
    float: right;
  }
}

.netchex-modal-message-title {
  padding-left: 15px !important;
  padding-right: 15px !important;
  padding-top: 15px !important;
  padding-bottom: 10px !important;
  font-size: 18px !important;
  color: #555;
}

.netchex-modal-message-body {
  padding-left: 15px !important;
  padding-right: 15px !important;
  padding-top: 15px !important;
  padding-bottom: 25px !important;
  font-size: 18px !important;
  color: #555;
}

.netchex-modal-message-footer {
  @media (min-width: 320px) and (max-width: 767px) {
    padding-left: 15px;
    padding-right: 15px;
    .btn-cancel-link {
      margin-left: 0px !important;
      padding-top: 25px !important;
      padding-bottom: 0px !important;
    }
  }
  @media (min-width: 768px) and (max-width: 991px) {
    // padding-left: 50px;
    // padding-right: 50px;
    padding-left: 15px;
    padding-right: 15px;
    .btn-cancel-link {
      padding-top: 10px !important;
    }
  }
  @media (min-width: 992px) {
    // padding-left: 50px;
    // padding-right: 50px;
    padding-left: 15px;
    padding-right: 15px;
    .btn-cancel-link {
      padding-top: 10px !important;
    }
  }
}

.text-color-red {
  color: red !important;
}
