$linkColor: #009999;

body {
  font-family: "Source Sans Pro", sans-serif !important;
}

.main-page-overlay-panel {
  position: absolute;
  top: 135px !important;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  @media (max-width: 480px) {
    top: 126px !important;
  }

  @media (min-width: 480px) and (max-width: 767px) {
    top: 154px !important;
  }

  @media (min-width: 768px) and (max-width: 991px) {
    top: 139.4px !important;
  }

  @media (min-width: 992px) and (max-width: 1199px) {
    top: 133px !important;
  }

  @media (min-width: 1200px) {
    top: 138px !important;
  }

  @media (min-width: 1400px) {
    top: 142px !important;
  }
}

.app-main-page {
  display: flex !important;
  //min-height: 100vh;
  // position: absolute;
  // top: 135px !important;
  // right: 0;
  // bottom: 0;
  // left: 0;
  // @media (max-width: 480px){
  //     top: 154px !important;
  // }

  // @media (min-width: 480px) and (max-width: 767px){
  //     top: 154px !important;
  // }

  // @media (min-width: 768px) and (max-width: 991px){
  //     top: 154px !important;
  // }

  // @media (min-width: 992px) and (max-width: 1199px){
  //     top: 132px !important;
  // }

  // @media (min-width: 1200px){
  //     top: 138px !important;
  // }

  // @media (min-width: 1400px){
  //     top: 142px !important;
  // }
}

.app-side-menu-bar {
  // height: 100%;
  display: flex !important;
  width: 4.3%;
  vertical-align: top;
  background-color: #e9e9e9;
  @media (max-width: 480px) {
    width: 0% !important;
  }

  @media (min-width: 480px) and (max-width: 767px) {
    width: 0% !important;
  }

  @media (min-width: 768px) and (max-width: 991px) {
    width: 5.5% !important;
  }

  @media (min-width: 992px) and (max-width: 1199px) {
    width: 6.8% !important;
  }

  @media (min-width: 1200px) {
    width: 5.7% !important;
  }

  @media (min-width: 1400px) {
    width: 4.8% !important;
  }

  @media (min-width: 1600px) {
    width: 4.3% !important;
  }
}

.app-work-page {
  // height: 100%;
  width: 95.2%;
  display: inline-block;
  vertical-align: top;

  @media (max-width: 480px) {
    width: 88% !important;
  }

  @media (min-width: 320px) and (max-width: 767px) {
    width: 100% !important;
  }

  // @media (min-width: 480px) and (max-width: 767px){
  //     width: 95.7% !important;
  // }

  @media (min-width: 768px) and (max-width: 991px) {
    width: 95.7% !important;
  }

  @media (min-width: 992px) and (max-width: 1199px) {
    width: 93% !important;
  }

  @media (min-width: 1200px) {
    width: 94.3% !important;
  }

  @media (min-width: 1400px) {
    width: 95.2% !important;
  }

  @media (min-width: 1600px) {
    width: 95.7% !important;
  }
}

.banner {
  background: url(../images/topgreen.png);
  background-position: center;
  background-color: #26a977;
  background-repeat: no-repeat;
  background-size: cover;
  height: 213px;
  padding-top: 40px;
}

.nc-logo {
  background: url(../images/whitelogo.png);
  display: block;
  background-position: center;
  background-repeat: no-repeat;
  height: 69px;
  margin: 20px 20px;
}

#login-alerts {
  background: #0f554d;
  color: white;
  height: 64px;
  padding: 10px 20px;
}

.img-user-icon {
  border-radius: 50%;
  border: 1px solid grey;
}

.advanceFilterChildCheckbox {
  padding: 5px 10px 15px 20px;
}

.pageTitle {
  font-size: 28px;
  font-weight: 400;
  color: #555;
}

.page-sub-title {
  font-size: 24px;
  font-weight: 400;
  color: #555;
  margin-top: 5px;
  margin-bottom: 5px;
}

.page-container {
  height: 100% !important;
  width: 100% !important;
  position: relative !important;
  padding: 30px 55px !important;
  color: #555 !important;
  font-family: "Source Sans Pro", sans-serif !important;

  @media (min-width: 320px) and (max-width: 767px) {
    padding: 5px !important;
  }
  @media (min-width: 768px) and (max-width: 991px) {
    padding: 10px !important;
  }
}

.leaf-page-container {
  margin: 10px 10px 10px 7.5%;
  position: relative;
}

// .react-toggle--checked > .react-toggle-track{
//     background-color: #24A272 !important;
// }

.react-toggle--checked .react-toggle-track {
  background-color: #24a272 !important;
}

.react-toggle-track {
  background-color: #e9e9e9 !important;
  width: 65px !important;
  height: 34px !important;
}

.react-toggle-thumb {
  width: 32px !important;
  height: 32px !important;
}

.react-toggle--checked .react-toggle-thumb {
  left: 32px !important;
}

.react-toggle--focus .react-toggle-thumb {
  -webkit-box-shadow: 0px 0px 3px 2px transparent !important;
  -moz-box-shadow: 0px 0px 3px 2px transparent !important;
  box-shadow: 0px 0px 2px 3px transparent !important;
}

.cstm555icon {
  color: #555;
}

.btn:focus {
  outline: none !important;
}

// .modal-backdrop {
//     background-color: transparent !important;
// }

// .modal-backdrop.in{
//     opacity: 0.1 !important;
// }

.btn-cancel-link {
  // padding: 8px 20px 10px 20px !important;
  padding: 10px 20px 14px 10px !important;
  color: #999 !important;
  background-color: white !important;
  font-size: 16px;
  text-align: center !important;
  font-weight: bold;
  margin-left: 30px !important;
  border: none !important;
  //border-color: white !important;
  text-decoration: none !important;
}

.btn-cancel-link:hover,
.btn-cancel-link:active,
.btn-cancel-link:visited {
  color: #555 !important;
  text-decoration: none !important;
}

.title-band {
  padding: 15px 0px 5px 22px;
  color: white;
  font-weight: bold;
  height: 46px;
  font-size: 16px;
  margin-left: 0px;

  h3 {
    font-size: 18px !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
}

.title-band-green {
  background-color: #339966;
  @extend .title-band;
}

.title-text {
  font-weight: bold;
  font-size: 16px !important;
  margin-left: 0px;

  h3 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
}

.title-text-green {
  color: #009966;
  @extend .title-text;
}

.title-text-grey {
  color: #ccc;
  @extend .title-text;
}

.input-info-message {
  padding-left: 23px !important;
  vertical-align: middle !important;
}

.indent10 {
  padding-left: 10px !important;
}

.indent15 {
  padding-left: 15px !important;
}

.text-link {
  color: $linkColor !important;
  font-family: "Source Sans Pro", sans-serif !important;
}

.text-link:hover {
  cursor: pointer;
  text-decoration: none !important;
}

.main-action-button,
.main-action-button:hover {
  padding: 10px 25px !important;
  background-color: #337ab7 !important;
  border-radius: 3px !important;
  text-transform: uppercase !important;
  color: #fff !important;
  font-size: 16px !important;
  border-color: transparent;
}

.mobile-main-action-button {
  @media (min-width: 320px) and (max-width: 991px) {
    width: 100% !important;
  }
}

.secondary-action-button,
.secondary-action-button:hover {
  padding: 10px 25px !important;
  background-color: #00cccc !important;
  border-radius: 3px !important;
  text-transform: uppercase !important;
  color: #fff !important;
  font-size: 16px !important;
  border-color: transparent;
}

.mobile-secondary-action-button {
  @media (min-width: 320px) and (max-width: 991px) {
    width: 100% !important;
  }
}

.secondary-action-button-disabled,
.secondary-action-button-disabled:hover {
  padding: 10px 25px !important;
  background-color: #ccc !important;
  border-radius: 3px !important;
  text-transform: uppercase !important;
  color: #fff !important;
  font-size: 16px !important;
  border-color: transparent;
}

.back-action-button,
.back-action-button:hover {
  padding: 10px 25px !important;
  background-color: #fff !important;
  border: 1px solid #009999 !important;
  border-radius: 3px !important;
  text-transform: uppercase !important;
  font-size: 16px !important;
  color: #009999 !important;
  margin-right: 30px !important;
}

.mobile-back-action-button {
  @media (min-width: 320px) and (max-width: 991px) {
    .back-action-button {
      margin-right: 0px !important;
    }
    width: 100% !important;
    margin-bottom: 5px !important;
    margin-right: 0px !important;
  }
}

.activity-history-button,
.activity-history-button:hover {
  background-color: white;
  border: 1px solid #009999 !important;
  color: #009999 !important;
  font-weight: 600px !important;
  border-radius: 3px !important;
  float: right;
  width: 100%;
}
.Mobile-Job-By-Id-Notification {
  background-color: white;
  border: 1px solid #009999 !important;
  color: #009999 !important;
  font-weight: 600px !important;
  border-radius: 15px !important;
  float: left !important;
  width: 100% !important;
}

.Mobile-Job-By-Id-Notification-Tab {
  background-color: white;
  border: 1px solid #009999 !important;
  color: #009999 !important;
  font-weight: 600px !important;
  border-radius: 15px !important;
  float: left !important;
  width: 100% !important;
}
.buttonlink {
  padding: 10px 20px 14px 10px !important;
  color: #009999 !important;
  background-color: white !important;
  font-size: 16px;
  text-align: center !important;
  font-weight: 400;
  margin-left: 30px !important;
  border: none !important;
  text-decoration: none !important;
}

.buttonlink:hover,
.buttonlink:active,
.buttonlink:visited {
  color: #009999 !important;
  text-decoration: none !important;
}

.mobile-buttonlink {
  @media (min-width: 320px) and (max-width: 991px) {
    width: 50% !important;
    margin-left: 0px !important;
  }
}

.buttonlink-cancel {
  padding: 10px 20px 14px 10px !important;
  color: #999 !important;
  background-color: white !important;
  font-size: 16px;
  text-align: center !important;
  font-weight: 400;
  margin-left: 30px !important;
  border: none !important;
  text-decoration: none !important;
}

.buttonlink-cancel:hover,
.buttonlink-cancel:active,
.buttonlink-cancel:visited {
  color: #555 !important;
  text-decoration: none !important;
}

.mobile-buttonlink-cancel {
  @media (min-width: 320px) and (max-width: 991px) {
    width: 50% !important;
    margin-left: 0px !important;
  }
}

.mobile-buttonlink-cancel-100per {
  @media (min-width: 320px) and (max-width: 991px) {
    width: 100% !important;
    margin-left: 0px !important;
  }
}

.info-popover {
}

.ck-button {
  margin: 0px !important;
  background-color: white;
  border-radius: 0px;
  overflow: auto;
  float: left;
  .hidden-checkbox {
    visibility: hidden;
  }
  label {
    margin-bottom: 0;
    float: left;
    width: 2em;
    border: 1px solid gray;
    cursor: pointer;

    span {
      text-align: center;
      padding: 4px 2px 4px 2px; // for review and save page
      display: block;
      border-radius: 0px;
    }

    input {
      position: absolute;
    }

    input:hover + span {
      background-color: #ccffff;
    }

    input:checked + span {
      background-color: #009999;
      color: #fff;
    }

    input:checked:hover + span {
      background-color: #009999;
      color: #fff;
    }
  }
}

.ck-button:hover {
  cursor: pointer;
}

.page-toaster-center {
  width: 100%;
  align-content: center;
}

.input-group {
  .form-group {
    margin-bottom: 0px !important;
  }
}

.has-error {
  .Select-control {
    border-color: #a94442;
  }
}

.has-error-radio-button-section {
  .netchex-radio-button {
    label {
      border: 1px solid #a94442 !important;
    }
  }
}

.spinner-element-loader {
  margin: 100px auto;
  font-size: 25px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  -webkit-animation: load5 1.1s infinite ease;
  animation: load5 1.1s infinite ease;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
@-webkit-keyframes load5 {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #ffffff,
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.5),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.7),
      1.8em -1.8em 0 0em #ffffff, 2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.5),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7), 2.5em 0em 0 0em #ffffff,
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.7), 1.75em 1.75em 0 0em #ffffff,
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.5),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.7), 0em 2.5em 0 0em #ffffff,
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.5),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.7), -1.8em 1.8em 0 0em #ffffff,
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.5),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.7), -2.6em 0em 0 0em #ffffff,
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.5),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.7), -1.8em -1.8em 0 0em #ffffff;
  }
}
@keyframes load5 {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #ffffff,
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.5),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.7),
      1.8em -1.8em 0 0em #ffffff, 2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.5),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7), 2.5em 0em 0 0em #ffffff,
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.7), 1.75em 1.75em 0 0em #ffffff,
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.5),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.7), 0em 2.5em 0 0em #ffffff,
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.5),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.7), -1.8em 1.8em 0 0em #ffffff,
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.5),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.7), -2.6em 0em 0 0em #ffffff,
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.5),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.7), -1.8em -1.8em 0 0em #ffffff;
  }
}

.remove-margin-left-right {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.border-bottom-1px {
  border-bottom: 1px solid #ccc;
}

.cursor-move {
  cursor: move !important;
}

.cursor-pointer {
  cursor: pointer !important;
}

.cursor-not-allowed {
  cursor: not-allowed !important;
}

.margin-right-lg-15px {
  margin-right: 15px;
}

.align-center {
  text-align: center;
}

@media screen and (min-width: 320px) and (max-width: 991px) {
  .buttonlink-cancel {
    margin-bottom: 10px !important;
    margin-left: 0px !important;
  }
  .secondary-action-button {
    margin-bottom: 10px !important;
  }
}

.error-label {
  color: red;
}

.nc-sort-filter-containser-section {
  @media (min-width: 320px) and (max-width: 991px) {
    .nc-sort-filter-container {
      display: block;
    }
    .nc-filter-container {
      display: none;
    }
  }

  @media (min-width: 992px) {
    .nc-sort-filter-container {
      display: none;
    }
    .nc-filter-container {
      display: block;
    }
  }
}

.filter-dropdown-view-section {
  @media (min-width: 320px) and (max-width: 991px) {
    .filter-mobile-dropdown-view {
      display: block;
    }
    .filter-desktop-dropdown-view {
      display: none;
    }
  }

  @media (min-width: 992px) {
    .filter-mobile-dropdown-view {
      display: none;
    }
    .filter-desktop-dropdown-view {
      display: block;
    }
  }
}

.Loader {
  position: absolute !important;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  .Loader__background {
    position: fixed !important;
  }
}

.third-party-listing-page-filter {
  .nc-filter-dropdown {
    @media (min-width: 992px) and (max-width: 1400px) {
      width: 31% !important;
    }
  }
}

.nc-filter-container {
  clear: both;
  @media(min-width:992px){padding-top: 6px;
  padding-bottom: 6px;}
  background-color: #e6e6e6;
  margin: 0px 0px 15px 0px;
  .nc-filter-group {
    float: left;
    width: 86%;
    .nc-filter-row {
      margin-top: 13px;
      .company-field{
        width: 33%;
        float: left;
      }
    }
    .nc-filter-row:first-child {
      margin-top: 0px;
    }
    .nc-filter-row::before {
      display: table;
      content: " ";
    }
    .nc-filter-row::after {
      display: table;
      content: " ";
      clear: both;
    }
  }
  @media (min-width: 481px) and (max-width: 992px) {
    .nc-filter-group {
      width: 100%;
      .nc-filter-row {
        .company-field{
          width: 50%;
          float: left;
        }
      }
    }
  }
  @media (min-width: 320px) and (max-width: 480px) {
    .nc-filter-group {
      width: 100%;
      .nc-filter-row {
        .company-field{
          width: 100%;
          float: left;
        }
      }
    }
  }
  #filter-activity-entity {
    @media (min-width: 992px) and (max-width: 1399px) {
      width: 30%;
    }
  }
  @media (min-width: 320px) and (max-width: 480px) {
      .nc-filter-dropdown {
        margin-bottom: 10px
      }
  }
}
